@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1:#ED0C1A;
    --cor2:#F70C90;
    --cor3:#D900E0;
    --cor4:#AF0CF7;
    --cor5:#6B0CED;

    
}

body {
    background-image: radial-gradient(#ED0C1A,
    #F70C90,#D900E0, #AF0CF7,
    #6B0CED);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    
    
    
}


.logo{
    height: 200px;
}

.menu li {
    display: inline;
    padding-right: 20px;
    font-size: 2em;
}

.menu li a {
    text-decoration: none;
    color: #F70C90;
}

main {
    height: 100%;
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 0px;

    
}



section {
    height: 200px;
    padding-left: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.8em;
}

#contato {
    color: white;
    text-align: left;
    
    height: 250px;
    background-image: url('imagens/CapaFaceJanaStoreOFICIAL.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contato p {
    
    color: #F70C90;
}

#contato p a {
    text-decoration: none;
    color: #F70C90;
}
footer {
    background-color: black;
    color: white;
    font-size: 1.5em;
    text-align: center;
    
    height: 80px;
}