@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1:#ED0C1A;
    --cor2:#F70C90;
    --cor3:#D900E0;
    --cor4:#AF0CF7;
    --cor5:#6B0CED;

    
}

body {
    background-image: radial-gradient(#ED0C1A,
    #F70C90,#D900E0, #AF0CF7,
    #6B0CED);
}

main {
    height: 100%;
    max-width: 800px;
    margin: auto;
    background-color: white;
   

}



section {
    height: 150px;
    padding-left: 10px;
    text-align: justify;
    font-size: 1.8em;
    
}
footer {
    background-color: black;
    color: white;
}